<strong>
  More at
  <a href="http://cappuccino.org/" title="Cappuccino" class="home">cappuccino.org:</a>
</strong>

<a href="http://cappuccino.org/" title="Cappuccino - Home">Home</a> |
<a href="http://cappuccino.org/learn" title="Cappuccino - Learn">Learn</a> |
<a href="http://cappuccino.org/discuss" title="Cappuccino - Discuss">Discuss</a> |
<a href="http://cappuccino.org/contribute" title="Cappuccino - Contribute">Contribute</a> |
<a href="http://cappuccino.org/download" title="Cappuccino - Download">Download</a>
